body {
    background-color: rgb(240,240,240);
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.image {
    width: 370px;
    margin-top: 50px;
}   

.set {
    margin-left:'95%' !important;
    margin-top: '-10%' !important;
  }


section{
    text-align:center;
  }
  .footer #button{
      width:10px;
      height:5px;
      border: #727172 12px solid;
      border-radius:8px;
      margin:0 auto;
      position:relative;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }
  .footer #button:hover{
      width:20px;
      height:20px;
      border: #3A3A3A 12px solid;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      position:relative;
  }
  .footer {
      bottom:0;
      left:0;
      position:fixed;
      width: 100%;
      height: 1.5em;
      overflow:hidden;
      margin:0 auto;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      z-index:999;
  }
  .footer:hover {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      height: 9em;
  }
  .footer #containe{
      margin-top:5px;
      width:100%;
    height:50%;
   
    position:relative;
    top:0;
    left:0;
      background: #3A3A3A;
  }
  .footer #cont{
    position:relative;
    top:-45px;
    right:190px;
      width:150px;
      height:auto;
      margin:0 auto;
  }
  .footer_center{
      width:500px;
      float:left;
    text-align:center;
  }
  .footer h3{
      font-family: 'Helvetica';
      font-size: 30px;
      font-weight: 100;
      margin-top:65px;
      margin-left:40px;
      
  }

  .modname {

    font-family: Arial, Helvetica, sans-serif;
    color: white;

  }


@media (max-width: 430px){
    .container{
        margin: 0 10px;
    }

    .image {
        width: 100%;
    }
    .footer h3{
        font-family: 'Helvetica';
        font-size: 15px;
        font-weight: 80;
        margin-top:60px;
        margin-left:40px;
        
    }
    .footer:hover {
        height: 6em;
        
    }

    footer {
       
        height: 0.5em;
        
    }
}


